
body {
	font-family: 'Markazi Text', serif;
}

html {
	width: 100%;
	height: 100%;
}

.title {
	background: url(https://stmed.net/sites/default/files/black-%26-white-wallpapers-25165-4479361.jpg);
	background-position: center;
	background-size: cover;
	padding: 5%;
	text-align: center;
}

h1 {
	color: #FFD346;
	font-weight: 800;
	text-shadow: 0 2px 3px #969686,
				0 4px 6px black;
	letter-spacing: 0.5rem;
	font-size: 3.5em;

}

h2 {
	color: #00A5E5;
	font-weight: 500;
	text-shadow: 0 2px 2px #ACC9CC;
/*	color: #0055A6;
*/
}

h3 {
	font-size: 25px;
}

.content {
	border: 2px solid rgba(232, 232, 232, 0.7);
	padding: 2%;
	margin: 0 auto;
	max-width: 90%;

}


.btn-outline-primary {
    background-color: white; /* Green */
    font-weight: 700;
    text-align: center;
/*    display: inline-block;*/
    font-size: 16px;
    border-radius: 24px;
    border: 2px inset #FFD346;
    display: flex;
    justify-content: center;
    margin: 7% auto;
    color: black;
    padding: 0 50px;
}

.btn_cont {
	padding-top: 3%;
}

.bottom {
	background-color: #394040;
	height: 200px;
}

.b_text {
	color: white;
	font-weight: 200;
	padding: 20px;
}

.b_text:nth-of-type(2) {
	padding-top: 0;
}

.b_text:nth-of-type(1) {
	padding-bottom: 0;
	margin-bottom: 0;
}

hr {
	display: inline-block;
	padding: 0;
	min-width: 450px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: white;
	width: 40%;
	margin-left: 20px;
}

#pagenum {
	color: gray;
	font-weight: 700;
	text-align: center;
	font-size: 20px;
}

.personal-topnav {
	overflow: hidden;

	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	font-size: 12px;
}
.personal-topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0055A6;
}

.personal-topnav li {
	float: left;
}

.personal-topnav li a {
	display: block;
	color: #aec1e1;
	text-align: center;
	text-decoration: none;
	padding: 7px 4px;
	margin-left: 10px;
	margin-right: 10px;
}

.personal-topnav .right-side {
	float: right;

}

.personal-topnav .right-side a:hover {
	color: white;
}


.personal-topnav p {
	color: lightgray;
	margin-left: 10px;
	margin-top: auto;
}



.personal-navbar {
		overflow: hidden;
		background-color: white;
		font-family: Arial, Helvetica, sans-serif;
		/* border-top: 2px solid  #00A5E5; */
		/* height: 75px; */

}

.personal-navbar .icon {
	display: none;
}

@media screen and (max-width: 600px) {
  .personal-navbar .personal-dropdown, .personal-navbar .active-dropdown {display: none;}
  .personal-navbar .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .personal-navbar.responsive {position: relative;}
  .personal-navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
		/* padding: 24px 5px; */
  }
	.personal-navbar.responsive .personal-dropdown, .personal-navbar.responsive .active-dropdown {
    float: none;
    display: block;
    text-align: right;
  }

	.personal
	.personal-navbar.responsive .personal-dropbtn {
		/* display: block; */
		text-align: right;
	}

	.personal-navbar.responsive .personal-logo a.logo-button {
		display: block;
	}

	.personal-navbar.responsive .personal-dropdown:hover {
			/* border-top: 3px solid #0055A6; */
			background-color: #f2f2f2;

			color: #0055A6;
	}

}


.personal-navbar a {
		float: right;
		font-size: 16px;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
}

.personal-dropdown {
		float: right;
		overflow: hidden;
}


.personal-dropbtn {
	/* margin-right: 5px; */
	width: 120px;
	/* height: 75px; */
}

.active-dropbtn {
	/* margin-right: 5px; */
	width: 120px;
	/* height: 75px; */
}

.personal-dropdown .personal-dropbtn {
		font-size: 18px;
		border: none;
		outline: none;
		color: black;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;


}



.personal-logo {
	float: left;
	overflow: hidden;
}

.personal-logo .logo-button {
	font-size: 18px;
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	border-bottom: 3px solid transparent;
	color: #FFD346;
}

.active-dropdown .active-dropbtn {
		font-size: 18px;
		border: none;
		outline: none;
		color: #0055A6;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;


}


.personal-navbar a, .personal-dropdown .personal-dropbtn {
	border-top: 3px solid transparent;
}

.personal-navbar .personal-dropdown:hover .personal-dropbtn {
		border-top: 3px solid #0055A6;
		background-color: #f2f2f2;

		color: #0055A6;
}

.active-dropdown {
	border-top: 3px solid #0055A6;
	background-color: #f2f2f2;
	float: right;
	overflow: hidden;
	color: #0055A6;


}





.personal-dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;

		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		width: 120px;
		/* border-top: 1px solid black;
		border-bottom: 1px solid black; */
}

.active-dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;

		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		width: 120px;
		/* border-top: 1px solid black;
		border-bottom: 1px solid black; */
}


.personal-dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		width: 120px;
		font-size: 12px;
		text-align: center;
		border-top: 1px solid lightgray;
		/* border-bottom: 1px solid black; */
}
.active-dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		width: 120px;
		font-size: 12px;
		text-align: center;
		border-top: 1px solid lightgray;
		/* border-bottom: 1px solid black; */
}

.personal-dropdown-content a:hover {
		background-color: #0055A6;
		color: white;
}

.active-dropdown-content a:hover {
		background-color: #0055A6;
		color: white;
}

.personal-dropdown:hover .personal-dropdown-content {
		display: block;
}



.active-dropdown:hover .active-dropdown-content {
		display: block;
}
